header {
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

nav p {
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 0 20px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px;
}

.loginMessage  {
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
  margin: 0;
}

.formElement {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

/* can check + change css based on figma */
.formElement input {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.formElement label {
  font-weight: bold;
  margin-bottom: 8px;
}

/* .formElement button {
  
} */

.Button {
  background: azure;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
}

.PostWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.PostCSS {
  border: 1px solid forestgreen;
  margin-bottom: 40px;
  max-width: 350px;
  width: 100%;
}