body {
  background-color: #F4F4F4;
  background-image: radial-gradient(#F9F9F9 15%, transparent 10%),
    radial-gradient(#F9F9F9 15%, transparent 10%);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;
  background-repeat: repeat;
}

header {
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px;
}

nav {
  display: flex;
  font-size: 30px;
  gap: 50px;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 1080px;
  width: 100%;
}

nav p {
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 0 0px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px;
}

.loginMessage  {
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
  margin: 0;
}

.formElement {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

/* can check + change css based on figma */
.formElement input {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.formElement label {
  font-weight: bold;
  margin-bottom: 8px;
}

/* .formElement button {
  
} */

.Button {
  background: azure;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
}

.PostWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.PostCSS {
  background-color: white;
  border: 5px solid #00C900;
  margin-bottom: 50px;
  max-width: 350px;
  padding: 50px;
  width: 100%;
}

.PostCSS p {
  margin: 0;
}

.PostContent {
  font-size: 24px;;
}
