@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Varela+Round&display=swap');

body {
  /* code for background based on 
  https://www.w3resource.com/html-css-exercise/html-css-practical-exercises/html-css-practical-exercise-28.php */
  background-color: #F4F4F4;
  background-image: radial-gradient(#F9F9F9 25%, transparent 10%),
    radial-gradient(#F9F9F9 25%, transparent 10%);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;
  background-repeat: repeat;
}

header {
  background-color: #fff;
  border-bottom: 5px solid #E5E5E5;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
}

nav {
  display: flex;
  font-size: 30px;
  gap: 50px;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 1080px;
  width: 100%;
}

nav p {
  color: #737373;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 0 0px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

nav p:hover {
  color: #00C900;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px;
}

.PageTitle {
  color: #1D1D1D;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
  margin: 0;
  padding-bottom: 25px;
}

.loginMessage  {
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
  margin: 0;
}

.Account {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

.InputField {
  display: flex;
  font-family: 'Varela Round', sans-serif;
  justify-content: center;
}

.formElement {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  max-width: 500px;
}

.formElement input {
  background-color: #D7E4D7;
  border: 1px solid #737373;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.formElement label {
  font-weight: bold;
  margin-bottom: 8px;
}

.formElement textarea {
  background-color: #D7E4D7;
  border: 1px solid #737373;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
}

.ButtonWrapper {
  margin-top: 20px;
}

.CreateLoginButton {
  margin-top: 0px;
}

.Button {
  background: #E5E5E5;
  border: none;
  border-radius: 10px;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  padding: 0;
  width: 100px;
}

.Button:hover {
  background: #ACDEAC;
}

.Button:hover p{
  color: #00B700;
}

.PostWrapper{
  display: flex;
  filter: drop-shadow(20px 10px 5px #00C900);
  flex-wrap: wrap;
  justify-content: center;
}

.PostCSS {
  background-color: white;
  border: 2.5px solid #00C900;
  border-radius: 10px;
  margin: 0px 50px 50px;
  max-width: 750px;
  width: 100%;
}

.PosterFeeling {
  border-bottom: 2.5px #ACACAC solid;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 5px; 
  padding-left: 10px;
}

.PostCSS p {
  color: #323232;
  margin: 0;
}

.PostContent {
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
  padding: 10px;
}

.YeahButton {
  background-color: #E5E5E5;
  border: none;
  border-radius: 5px;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  gap: 5px;
}

.YeahButton:hover {
  background-color: #ACDEAC;
}

.YeahButton:hover p{
  color: #00B700;
}

.Count {
  padding: 5px 10px 10px 10px;
}

.UserProfile {
  background-color: white;
  border: 2.5px solid #00C900;
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(20px 10px 5px #00C900);
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 275px;
  max-width: 500px;
  width: 50%;
}

.UserProfile p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}
